.hero {
    min-height: calc(100vh - var(--navbar-height));
    // height: calc(100vh - var(--navbar-height));
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

    .heroContainer {
        width: 85vw;
        max-width: 85vw;
        display: flex;
        height: 100%;

        @media only screen and (max-width: 648px) {
            flex-direction: column;
        }

        .heroInner {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin: 0 2rem;

            @media only screen and (max-width: 648px) {
                margin: 2rem 0;
            }

            .heroTitle {
                color: var(--color-bg0);
                font-weight: bold;
                font-size: 4rem;
                margin-top: 0;
                margin-bottom: 2.5rem;

                @media only screen and (max-width: 648px) {
                    font-size: 3.5rem;
                }
            }

            .heroSub {
                color: var(--color-bg0);
                line-height: 1.9;
                font-size: 1.2rem;

                @media only screen and (max-width: 648px) {
                    font-size: 1.8rem;
                }
            }

            img {
                width: 100%;
                height: auto;
                border-radius: 20px;
                box-shadow: 0px 10px 20px 5px var(--color-shadow);
            }
        }
    }
}

.contact {
    .contactContent {
        padding-top: 3rem;
        padding-bottom: 14rem;
        text-align: center;

        h3 {
            color: var(--color-bg0);
            font-weight: normal;
            font-size: 2rem;
        }

        p {
            color: var(--color-bg0);
            font-size: 1.2rem;

            a {
                color: var(--color-accent);
            }
        }
    }
}
