.hero {
    min-height: calc(100vh - var(--navbar-height));
    height: calc(100vh - var(--navbar-height));
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: var(--color-bg90);
    border-bottom: 2px dashed var(--color-bg60);

    .heroContainer {
        width: 85vw;
        max-width: 85vw;
        display: flex;
        height: 100%;

        .heroInner {
            z-index: 1;
            display: flex;
            align-items: center;

            .heroCopy {
                color: var(--color-bg0);
                margin-bottom: 5rem;

                @media only screen and (max-width: 590px) {
                    margin-bottom: 20rem;
                }

                mark {
                    color: var(--color-accent);
                    background-color: transparent;

                    &.period {
                        color: var(--color-bg50);
                    }
                }

                .heroTitle {
                    font-weight: bold;
                    margin-top: 0;
                    font-size: 5rem;
                    margin-bottom: 1rem;
                }

                .heroSubtitle {
                    margin-top: 0;
                    font-weight: normal;
                    font-size: 3.5rem;
                    margin-bottom: 0;
                }
            }
        }

        .heroProfile {
            position: absolute;
            top: 0;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            right: 7.5vw;

            @media only screen and (max-width: 590px) {
                left: 0;
                right: 0;
                top: 70vh;
                height: 20vh;
            }

            .heroProfileCard {
                display: flex;
                align-items: center;
                background-color: var(--color-bg60);
                box-shadow: 0px 5px 20px var(--color-shadow);
                padding: 20px;
                border-radius: 15px;
                transition: width 500ms;
                overflow: hidden;

                @media only screen and (max-width: 405px) {
                    padding: 10px;
                    border-radius: 10px;
                }

                .imageContainer {
                    width: 144px;
                    height: 144px;
                    position: relative;
                    border-radius: 9999px;
                    overflow: hidden;

                    @media only screen and (max-width: 1050px) {
                        width: 72px;
                        height: 72px;
                    }
                }

                .profileDescription {
                    color: var(--color-bg0);
                    margin-left: 20px;

                    @media only screen and (max-width: 325px) {
                        margin-left: 10px;
                    }

                    h3 {
                        font-weight: normal;
                        margin-top: 0;
                        margin-bottom: 2rem;
                        text-overflow: clip;
                        white-space: nowrap;
                    }

                    .profileCta {
                        background-color: var(--color-accent);
                        color: var(--color-bg100);
                        padding: 0.5rem 1rem;
                        border-radius: 9999px;
                        white-space: nowrap;
                        text-overflow: clip;
                        transition: all 500ms;

                        &:hover {
                            background-color: var(--color-bg50);
                            color: var(--color-accent);
                        }
                    }
                }
            }
        }

        .bgBox {
            position: absolute;
            right: 0;
            top: 0;
            background-color: var(--color-bg80);
            height: 100vh;
            width: 0vw;
            border-bottom: 2px dashed var(--color-bg60);
        }

        .bgVerticalLine {
            position: absolute;
            left: 0;
            top: 0;
            height: 100vh;
            width: 7vw;
            border-right: 2px dashed var(--color-bg60);
        }

        .bgHorizontalLine {
            position: absolute;
            left: 0;
            top: 0;
            height: 30vh;
            width: 100vw;
            border-bottom: 2px dashed var(--color-bg60);
        }

        .scrollCta {
            position: absolute;
            left: 50%;
            top: 80vh;
            transform: translateX(-50%);
            height: 5rem;
            width: 3rem;
            border: 3px solid var(--color-bg0);
            border-radius: 9999px;
            display: flex;
            justify-content: center;

            &::after {
                content: "scroll to discover";
                position: absolute;
                top: 120%;
                left: 50%;
                color: #ffffff;
                text-align: center;
                width: 18ch;
                margin-left: -9ch;
            }

            .scrollCtaInner {
                width: 1.5rem;
                height: 1.5rem;
                background-color: var(--color-bg0);
                border-radius: 50%;
                position: absolute;
            }
        }
    }
}

.projects {
    .projectsList {
        list-style: none;
        margin: 0;
        padding: 0;

        .project {
            margin: 20vw 0;
            opacity: 0.2;
            transform: scale(0.94);
            transition: all 500ms;

            &.visible {
                opacity: 1;
                transform: scale(0.975);

                &:hover {
                    transform: scale(1);
                }
            }

            .projectDescription {
                position: absolute;
                color: var(--color-bg0);
                margin-top: 1rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                top: -5rem;

                @media only screen and (max-width: 620px) {
                    display: none;
                }

                h3 {
                    font-size: 3rem;
                    margin: 0;
                    font-weight: normal;
                }

                p {
                    margin: 0;
                    font-size: 1.5rem;
                }
            }

            .projectImage {
                width: 60vw;
                height: auto;
                border-radius: 10px;
                box-shadow: 0px 10px 30px 5px var(--color-shadow);

                @media only screen and (max-width: 620px) {
                    width: 90vw;
                }
            }
        }
    }
}
